.form-actions{
    color: black;
    background-color:white;
}

body{
    color: black;
    background-color:white;
}

#autofillConfig{
    background-color: blanchedalmond;
    color:black;
}


#autofillControlsContainer,#autofillBar{
    background-color: #DDDDDD;
}