.form-actions{
    background-color: #222222;
    color:white;
}

body{
    background-color: #222222;
    color:white;
}

form .g3-form-form {
    background-color: #5e5e5e;
}


.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color: #000000;
}

.js-recuadro_periodo h3, .recuadro h3{
    color:#FFFFFF !important;
}

.listado-comisiones tbody>tr:hover{
    background-color: #222222;
}


.well {
    background-color: #d5d5d5;
  
}


#back-to-top{
    display:none;
}